body {
    margin: 0px;
}

header
{
font-size: 1.5em;
display: flex;
justify-content: space-between;
background: rgba(190,234,255,0.85);
color: green;
}

footer
{
    position: absolute;
    display: flex;
    bottom:0;
    justify-content: space-around;
    font-size:2em ;
    background: #BEEAFF;
    width: 100%;
    color:azure;
    background: rgba(190,234,255,0.85);
}

