body
{
   margin: 0.05%;
}

header
{
font-size: 1.5em;
display: flex;
justify-content: space-between;
font-family: Impact,'Arial Narrow Bold', sans-serif;
background: #BEEAFF ;
color: green;
}

#connexion
{
    background: url(images/photovelo.jpg);
    background-position: center; 
    background-repeat: no-repeat; 
    background-attachment: fixed; 
    background-size: cover; 
}

#inscription
{
    background: url(images/photoVeloInscription.jpeg);
    background-position: center; 
    background-repeat: no-repeat; 
    background-attachment: fixed; 
    background-size: cover; 
}


.connexion
{
    color: green;
    margin:auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    position:relative;
    right: 10%;
    top: auto;
    bottom: auto;
    background: #BEEAFF;
    background-size:contain;
    height: 250px;
    width: 300px;
    border-radius: 30px;
}

<<<<<<< HEAD
#parametres
{
    justify-content: ;
}
.parametres
{
    right: 50%;
    top: 50%;
    color: green;
    height: 80%;
    width: 30%;
    border-radius: 30px;
}

.titreprofil
{
    display: flex;
    justify-content: space-between;
}
=======
.inscription
{
    color: green;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    left: 10%;
    top: 40%;
    background: #BEEAFF;
    background-size:contain;
    height: 320px;
    width: 300px;
    border-radius: 30px; 
}

>>>>>>> ed0b1958a24f439f09450b67cb3cce13048c48e3
.barre
{
    background-color: #BEEAFF;
    border: none;
    border-bottom: 1px solid darkgreen;
    font-size: 1em;
}

.barre2
{
    height: 30px;
    width: 100%;
}

.bouton
{
    height: auto;
    width: auto;
    background-color: green;
    border: none;
    color: white;
    font-size: 1.2em;
    border-radius: 30px;
}

.signout
{
    background-color: green;
    border: none;
    color: white;
    font-size: 1em;
<<<<<<< HEAD
    border-radius: 30px;
    height: 60px;
=======
    border-radius: 10px;
    padding: 10px;
>>>>>>> ed0b1958a24f439f09450b67cb3cce13048c48e3
}



footer
{
position: absolute;
bottom:0;
display: flex;
justify-content: space-around;
font-size:2em ;
background: #BEEAFF;
width: 100%;
}


