.donnees
{
    display: flex;
    justify-content: space-around;
    padding: 20px;
}
.graphiques
{
    display: flex;
    flex-wrap: wrap; 
}

#table
{
    width: 70%;   
}

[id^=chart]
{
    height: 240px;
    width: 450px;
}