body
{
   margin: 0%;
}

header
{
font-size: 1.5em;
height: 15%;
display: flex;
justify-content: space-between;
font-family: ELephant,Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
background: #BEEAFF;
color: green;
}

body 
{
    background: url(images/photovelo.jpg);
    background-position: center; 
    background-repeat: no-repeat; 
    background-attachment: fixed; 
    background-size: cover; 
}

.connexion
{
    color: green;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    right: 10%;
    top: 40%;
    background: #BEEAFF;
    background-size:contain;
    height: 250px;
    width: 300px;
    border-radius: 30px;
    

}

.barre
{
    
    background-color: #BEEAFF;
    border: none;
    border-bottom: 1px solid red;
    font-size: 1em;
}

.bouton
{
    background-color: green;
    border: none;
    color: white;
    font-size: 1em;
}


footer
{
position: absolute;
bottom:0;
display: flex;
justify-content: space-around;
font-size:2em ;
background: #BEEAFF;
width: 100%;
}

